<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bienvenid@ a <%= title %></p>
    <p>NodeJs al servicio de las preguntas y respuestas</p>
  </body>
</html>
