<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  <title>Quiz</title>
  </head>
  <body>
    <header>
      <h2>Quiz: la app de las preguntas y respuestas en nodeJS</h2>
    </header>

    <nav>
      <ul>
        <li>
          <a href="/">Inicio</a>
          <a href="/quizzes/question">Preguntas</a>
        </li>
      </ul>
    </nav>

    <section>
      <%- body %>
    </section>

    <footer>
      <ul>
        <li><a href="#">¿Qué es un quiz?</a></li>
      </ul>
    </footer>
  </body>
</html>
