<p>
  <h2><%= author %></h2>
</p>
<br>
<p>
  <img src="http://blog.lucasdegomez.com/wp-content/uploads/2014/05/shout.png" alt="Profile pic" />
</p>
<br>
<p>
  <a href="https://github.com/criaturaExperimental">GitHub</a>
</p>
<p>
  Lo siento no hay vídeo opcional ;)
</p>
