<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheets/up_481px.css" media="only screen and (min-width: 481px) and (min-device-width: 481px)">
    <link rel="stylesheet" type="text/css" href="/stylesheets/less_480px.css" media="only screen and (max-width: 480px)">
  <title>Quiz</title>
  </head>
  <body>
    <header>
      <h2>Quiz: la app de las preguntas y respuestas en nodeJS</h2>
    </header>

    <nav class="navigation">
      <ul>
        <li>
          <a href="/">Inicio</a>
        </li>
        <li>
          <a href="/quizzes">Preguntas</a>
        </li>
        <li>
          <a href="/author">Créditos</a>
        </li>
      </ul>
    </nav>

    <section>
      <%- body %>
    </section>

    <footer class="navigation" id="footer">
      <ul>
        <li>
          <a href="https://github.com/criaturaExperimental/Quiz" target="_blank">El proyecto en GitHub</a>
        </li>
        <li>
          <a href="https://es.wikipedia.org/wiki/Quiz" target="_blank">¿Qué es un quiz?</a>
        </li>
      </ul>
    </footer>
  </body>
</html>
