<p>
  <form method="get" action="/quizzes/answer">
    <p>Pregunta: </p>
    <p class="highlight"><%= pregunta %></p>
    <input type="text" name="respuesta" value="Tu respuesta">
    <input type="submit" value="Enviar">
  </form>
</p>
