* {
  margin: 0;
  padding: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-right: 1em;
}

a {
  color: #00B7FF;
}

.highlight{
  color: rgb(29, 181, 172);
  margin-bottom: 0.75em;
}

#ErrorMsgs{
  color: #f61;
  font-size: smaler
}

.right{
  float: right;
}

/***************
   HEADER
 **************/
header{
  padding: 1em;
  width: 100%;
  text-align: center;
}

header h2{
  font-size: 2em;
}

/***************
   NAVIGATION
 **************/
nav ul{
  list-style: none;
}
nav li{
  margin-right: 1em;
  padding:0.25em 0.75em 0.25em 0.75em;
  display: inline;
  background-color: rgb(29, 181, 172);
}
nav li > a{
  text-decoration: none;
  color: white;
}


nav{
  margin-left: 1em;
  margin-bottom: 1.5em;
}

nav span{
  margin: 0px 10px 0px 0px;
}

/***************
   SECTION
 **************/
section{
  margin-left: 2em;
  padding-bottom: 80px;
  text-align: center;
}

/***************
   TABLES
 **************/
 table{
   border: 4px solid rgb(29, 181, 172);
   padding: 0.25em;
   text-align: left;
 }

 /***************
    SEARCH
  **************/
 .search{
   margin-top: 2em;
 }

 .search form{
   text-align: left;
 }

/***************
   FOOTER
 **************/
footer {
  position:fixed;
  padding-top: 1em;
  padding-left: 2em;
  left:0px;
  bottom:0px;
  height:40px;
  width:100%;
  background:rgb(29, 181, 172);
}

footer ul{
  list-style: none;
}
footer li{
  margin-right: 1em;
  padding:0.25em 0.75em 0.25em 0.75em;
  display: inline;
  background-color: rgb(29, 181, 172);
}
footer li > a{
  text-decoration: none;
  color: white;
}
