<div class="">
	<table>
		<% var i; for (i=0; i < quizzes.length; i++) { %>
			<tr><td><a href="/quizzes/<%= quizzes[i].id %>"><%= quizzes[i].pregunta %></a></td></tr>
		<% } %>
	</table>
</div>
<div class="search">
	<form action="/quizzes" method="get">
		<input type="text" name="search" value="Buscar preguntas">
		<input type="submit" value="Buscar">
	</form>
</div>
